<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Two Sample T Test</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <!-- <link rel="stylesheet" href="css/master.css"> -->
  </head>
  <div class="main">
    <body>
      <h1 class = "welcome">Welcome to the homepage of the statistics project</h1>
      <p>Congratulations, you got this to run, now you need to go back to get
        URLtemplate inheritance running. After that get the statistics model talking to the site</p>
      <br>
      <p>You've got a superuser created (steve, Silverforge47!) and models are set up, the next thing
      that you need to do is set up this page to conditionally post or update
      the SQLite models. After that, you need to figure out how to get the
      site to talk to the statistics model in t_test.py
      </p>

      <p>in Django Level 5 you need to set up, in views the functions for user
      login. you will see in Django level 5's login.html page a form tag with
      "action= and method = post. This is believed
       to be triggering the function call when the login button is pressed.
       Something like this will need to be added for the dataset posting.
       Review the actual code in Django level 5's login.html file</p>
       <hr>
       <p>This still is not working. Perhaps instead of attempting to do this
       with a form, try purely with models and by building the 2 sample t test
     directly into models.py. See Django Level 2</p>
      <div class="jumbotron">
        <h1>Two Sample T Test</h1>
        <h3>Enter the values of each sample in the separate boxes</h3>
        <h4>(separate values with a space)</h4>
<!--        <form class="" method="POST">-->
<!--          <label for="Entry_strings">Dataset 1:</label>-->
<!--          <input type="text" name="group_one" value="">-->
<!--          <br>-->

<!--          <label for="Entry_value">Dataset 2:</label>-->
<!--          <input type="text" name="" value="">-->
<!--          -->
<!--          <input type="submit" name="" value="Enter">-->
<!--        </form>-->

<!--          <hr>-->
          <p>Above was used as a form, below will be used as models</p>
          <form method="POST">
          {{form.as_p}}
          {% csrf_token %}

          <input type="submit" class="btn btn-primary" value="Submit">

          </form>


      </div>
      </body>

  </div>


</html>
