<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Two Sample T Test</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <!-- <link rel="stylesheet" href="css/master.css"> -->
  </head>
  <div class="main">
    <body>
      <h1 class = "welcome">Welcome to the homepage of the statistics project</h1>
      
      <br>
      <p>You've got a superuser created (steve, Silverforge47!) and models are set up, the next thing
      that you need to do is set up this page to conditionally post or update
      the SQLite models. After that, you need to figure out how to get the
      site to talk to the statistics model in t_test.py
      </p>

      
      <div class="jumbotron">
        <h1>Two Sample T Test</h1>
        <h3>Enter the values of each sample in the separate boxes</h3>
        <h4>(separate values with a space)</h4>
<!--        <form class="" method="POST">-->
<!--          <label for="Entry_strings">Dataset 1:</label>-->
<!--          <input type="text" name="group_one" value="">-->
<!--          <br>-->

<!--          <label for="Entry_value">Dataset 2:</label>-->
<!--          <input type="text" name="" value="">-->
<!--          -->
<!--          <input type="submit" name="" value="Enter">-->
<!--        </form>-->

<!--          <hr>-->
          <p>Above was used as a form, below will be used as models</p>
          <form method="POST">
          {{form.as_p}}
          {% csrf_token %}

          <input type="submit" class="btn btn-primary" value="Submit">

          </form>


      </div>
      </body>

  </div>


</html>
